
header {
    
    display: flex;
    justify-content: space-between; /* Espaça os itens ao longo da linha */
    align-items: center; /* Alinha verticalmente os itens no centro */
    padding: 10px;
    background-color: #f0f0f0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

body {
    font-family: 'Merriweather', sans-serif;
    background-color: black;
    color: aliceblue;
}

nav {
    text-align: center;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {

    text-decoration: none;
    font-size: 14px; /* Ajuste o tamanho da fonte conforme necessário */
    color: black;
    padding: 10px;
}

li a:hover {
    background-color: rgb(193, 193, 193);
}

a {
    text-decoration: none;
    color: green;
}

img {
    width: 40%;
    float: left; /* Faz a imagem flutuar para a esquerda */
    margin-right: 20px;
}
  
.detail-container {
    padding: 2%;
}

footer {
    color: black;
    padding:20px;
    background-color: lightgrey;
    text-align: center;
    font-size:small;
    font-weight: 500;
  }

 /* Botão de menu hamburguer */
 #menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
}

/* Botão "X" para fechar o menu */
#close-menu {
    display: none; /* Esconde o botão inicialmente */
    background: none;
    border: none;
    font-size: 30px; /* Ajusta o tamanho da fonte para ser similar ao do hambúrguer */
    cursor: pointer;
    padding: 10px;
    margin-right: 10px; /* Um pouco de margem à direita */
}


@media (max-width: 768px) {
    
    #close-menu {
        display: block; /* Exibe o botão quando o menu está aberto em dispositivos móveis */
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: #f0f0f0;
        position: fixed;
        top: 0;
        left: 0;
    }

    /* Exibe o botão de menu (hambúrguer) em dispositivos móveis */
    #menu-toggle {
        display: block;
    }

    /* Quando o menu estiver aberto, exiba a lista */
    nav ul.show {
        display: flex;
    }

    nav ul li {
        display: block; /* Coloca os itens do menu um embaixo do outro */
        margin: 10px 0; /* Margem entre os itens */
    }

    body {
        text-align:left;
    }

    img {
        width: 100%;
        height: 100%;
        float: none;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 18px;
    }

    .texto {
        font-size: 18px;
    }

    .detail-container {
        margin-top: 70px;
    }

    footer {
        padding: 2px;
        font-size: 16px;
    }


}