.body {
    font-family: 'Merryweather';
    background-color: black;
}

header {
    
    display: flex;
    justify-content: space-between; /* Espaça os itens ao longo da linha */
    align-items: center; /* Alinha verticalmente os itens no centro */
    padding: 10px;
    background-color: #f0f0f0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

img {
    height: 80vh;
    width:fit-content;
}

nav {
    text-align: center;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    font-size: 16px; /* Ajuste o tamanho da fonte conforme necessário */
    color: black;
    padding: 10px;
}

li a:hover {
    background-color: rgb(193, 193, 193);
}

#dados {
    background-color: black;
    height: max-content;
    color: white;
    
}

.card {
    padding: 2%;
    display: flex;
    align-items: center;
}

.div1, .div2 {
    width: 50%; /* Define a largura de cada div */
    float: left;
    box-sizing: border-box; /* Inclui padding e border no cálculo da largura */
    background-color: black;
    padding: 20px;
    text-align: center;
    font-size: 24px;
  }

  .div2 {
    margin-right: 20px;
  }

  .pesquisa {
        color: #f0f0f0;
        background-color: rgb(66, 46, 46);
        padding: 2%;
        text-align: center;
  }

  footer {
    color: black;
    padding:20px;
    background-color: lightgrey;
    text-align: center;
    font-size:small;
    font-weight: 500;
  }

 /* Botão de menu hamburguer */
#menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
}

/* Botão "X" para fechar o menu */
#close-menu {
    display: none; /* Esconde o botão inicialmente */
    background: none;
    border: none;
    font-size: 30px; /* Ajusta o tamanho da fonte para ser similar ao do hambúrguer */
    cursor: pointer;
    padding: 10px;
    margin-right: 10px; /* Um pouco de margem à direita */
}


@media (max-width: 768px) {
    img {
        height: 80dvi;
    }

    .card {
     /*   padding: 2%;*/
        display:block;
    }

    .div1, .div2 {
        width: 100%; /* Faz as divs ocuparem 100% da largura */
        float: none; /* Remove o float para evitar que fiquem lado a lado */
        padding: 5px;
        font-size: 18px;
    }

    .div2{
        margin-right: 0%;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: #f0f0f0;
        position: fixed;
        top: 0;
        left: 0;
    }

    /* Exibe o botão de menu (hambúrguer) em dispositivos móveis */
    #menu-toggle {
        display: block;
    }

    /* Quando o menu estiver aberto, exiba a lista */
    nav ul.show {
        display: flex;
    }

    nav ul li {
        display: block; /* Coloca os itens do menu um embaixo do outro */
        margin: 10px 0; /* Margem entre os itens */
    }

    #dados {
        margin-top: 60px;
    }

    footer {
        font-size: 18px;
    }

    #close-menu {
        display: block; /* Exibe o botão quando o menu está aberto em dispositivos móveis */
    }
    
}